@font-face {
  font-family: Montserrat Regular;
  src: url(fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat Bold;
  src: url(fonts/Montserrat/Montserrat-Bold.ttf);
}

a {
  cursor: pointer;
}

body {
  background: #fff;
  color: #000;
  font-family: 'Montserrat Regular', sans-serif;
}

.App {
  text-align: center;
}

.content {
  margin: 0 auto;
  width: 400px;
}

.current__data, .current__name, .forecast__data, .forecast__name {
  text-align: left;
  width: 160px;
}

.current__data, .forecast__data {
  font-family: Montserrat Bold;
}

.current__hr, .forecast__hr {
  background: #fff;
  border: 0;
  display: block;
  height: 2px;
  margin: 0 auto;
  width: 320px;
}

.current__info, .forecast__info {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}

.current__panel, .forecast__panel {
  padding: 15px 0;
}

.current__row, .forecast__row {
  display: flex;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  margin: 0 auto;
  width: 320px;
}

.current__subtitle {
  text-align: left;
}

.current__text {
  text-align: left;
  width: 150px;
}

.current__uv-icon, .forecast__uv-icon {
  cursor: pointer;
  margin-left: 4px;
}

.current__uv-warning, .forecast__uv-warning {
  background: #fff;
  border-radius: 8px;
  display: flex;
  font-size: 13px;
  line-height: 20px;
  padding: 10px;
  position: absolute;
  width: 200px;
}

.current__uv-warning-close, .forecast_uv-warning-close {
  text-align: right;
  width: 10px;
}

.current__uv-warning-text, .forecast__uv-warning-text {
  width:150px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.hourly__hour {
  text-align: left;
  width: 40px;
}

.hourly__hr {
  background: #fff;
  border: 0;
  height: 2px;
  width: 100%;
}

.hourly__icon {
  width: 40px;
}

.hourly__info {
  display: flex;
  justify-content: space-between;
}

.hourly__temp {
  text-align: left;
}

.hourly__text {
  text-align: left;
  width: 100px;
}

.hourly__wrapper {
  font-size: 14px;
  height: 45px;
  margin: 0 auto;
  padding: 10px 40px;
  width: 400px;
}

.leaflet-container {
  height: 200px;
  width: 400px;
}

.loading {
  background: #fff;
}

.loading__icon {
  margin: 15px auto;
  position: absolute;
}

.location {
  margin: 0 auto;
}

.location__city {
  text-align: left;
}

.location__item {
  display: flex;
  font-size: 13px;
}

.location__row {
  display: flex;
  justify-content: space-between;
}

.location__text {
  width: 100px;
}

.main {
  margin: 0 auto;
  width: 100%;
}

.noresults {
  background: #fff;
  font-size: 14px;
  margin: 15px auto;
  position: absolute;
}

.noresults__message {
  margin: 10px auto;
}

.rectangle {
  background: #f0f0f0;
  border-radius: 8px;
}

.rectangle--half {
  width: 45%;
}

.results {
  position: absolute;
}

.results__item {
  background: #f0f0f0;
  display: block;
  font-size: 14px;
  height: 30;
  line-height: 30px;
  text-align: left;
  text-indent: 20px;
  width: 320px;
}

.results__item:hover {
  background: #fff;
}

.results__hr {
  background: #fff;
  border: 0;
  height: 2px;
  margin: 0 auto;
  width: 290px;
}

.searchpanel {
  display: flex;
  justify-content: space-between;
  margin: 30px auto auto auto;
  text-align: left;
  width: 400px;
}

.searchpanel__delete {
  cursor: pointer;
  display: none;
  margin-left: -20px;
}

.searchpanel__geolocation {
  line-height: 35px;
  margin-right: 15px;
}

.searchpanel__input {
  border: 0;
  font-family: Montserrat Regular;
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  text-indent: 20px;
  width: 320px;
}