body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.header {
  background: #05B4F2;
  color: #fff;
  font-size: 32px;
  text-align: left;
}

.header__subtitle {
  font-size: 13px;
  margin: 0 auto;
  width: 400px;
}

.header__title {
  font-size: 22px;
  margin: 0 auto;
  width: 400px;
}

.info {
  margin: 0 auto;
  width: 400px;
}

.info__city {
  color: #000;
  font-size: 24px;
  text-align: left;
}

.info__data {
  text-align: left;
  width: 200px;
}

.info__header {
  padding: 0;
}

.info__img {
  height: 80px;
  width: 80px;
}

.info__panel {
  background: #f0f0f0;
  border-radius: 10px;
  color: #000000;
  display: flex;
  justify-content: space-between;
}

.info__panel--big {
  padding: 0 40px 0 40px;
  width: 100%;
}

.info__panel--half {
  padding: 0 20px 0 20px;
  width: 35%;
}

.info__subtitle {
  text-align: left;
}

.info__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info__row--table {
  border-bottom: 1px solid #F2f2f2;
  color: #383838;
  font-size: 13px;
  line-height: 24px;
}

.info__title {
  text-align: left;
  width: 200px;
}

.leaflet-container {
  height: 200px;
  width: 400px;
}

.searchpanel {
  margin: 0 auto;
  width: 400px;
}

#searchpanel__delete {
  cursor: pointer;
  display: none;
  margin-left: -20px;
}